<!DOCTYPE html>
<html lang="utf-8">
<%- partial('_partial/head') %>
<body>
<div class="site-layout">
    <div class="site-aside">
        <%- partial('_partial/navigator') %>
    </div>
    <div class="site-main">
        <div class="left">
            <%- body %>
        </div>
        <div class="right">
            <%- partial('_partial/right') %>
        </div>
    </div>
</div>
<%- partial('_partial/foot') %>
</body>
</html>