<div class="article">
    <a href="<%- url_for(post.path) %>">
        <div class="article-title">
            <h1><%= post.title %></h1>
        </div>
    </a>
    <div class="article-entry">
        <% if (post.excerpt) { %>
            <%- post.excerpt %>
        <% } else if (post.cover) { %>
            <img src="<%- url_for(post.cover) %>" alt="" height="300px">
        <% } else{ %>
            <%- post.content %>
        <% } %>
    </div>
    <div class="article-tags">
        <% post.tags.each(function(tag){ %>
            <a href="<%- url_for(tag.path) %>" class="tag">
                <%= tag.name %>
            </a>
        <% }) %>
    </div>
</div>
