<head>
    <meta charset="utf-8">
    <title><%= config.title%></title>
    <link rel="icon" href="<%- url_for('/') %>">
    <%- css('/css/base.css') %>
    <%- css('/css/widget.css') %>
    <%- css('/css/highlight.css') %>
    <%- css('/css/layout.css') %>
    <%- css('/css/index.css') %>
    <%- css('/css/article-info.css') %>
    <%- css('/css/tag.css') %>
    <%- css('/css/scroll.css') %>
    <%- css('/css/animate.min.css') %>
</head>