<head>
    <meta charset="utf-8">
    <title><%= config.title%></title>
    <%- css('/css/base.css') %>
    <%- css('/css/layout.css') %>
    <%- css('/css/aside.css') %>
    <%- css('/css/index.css') %>
    <%- css('/css/widget.css') %>
    <%- css('/css/paginator.css') %>
    <%- css('/css/article.css') %>
    <%- css('/css/category.css') %>
    <%- css('/css/tag.css') %>
    <%- css('/css/scroll.css') %>
    <%- css('/plugins/animate/animate.min.css') %>
    <%- css('/plugins/hexo-calendar/calendar.css') %>
    <%- css('/plugins/highlight/default.css') %>
</head>